@model IEnumerable<MASFinalWebApp.Models.InsuranceAgreement>

@{
    ViewData["Title"] = "Insurance Agreements";
}

<h1>Insurance Agreements</h1>
@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
*@
<table class="table">
    <thead>
        <tr>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.InsuranceAgreementID)
            </th>
              -->
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurancePackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceAgreementID)
                </td>
                  -->
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalInfo)
                </td>
                <td>
                    @if (item.Invoice != null)
                    {
                        <a asp-controller="Invoices" asp-action="Details" asp-route-id="@( item.Invoice.InvoiceNo)">
                            @Html.DisplayFor(modelItem => item.Invoice.InvoiceNo)
                        </a>
                    }
                </td>
                <td>
                    @if (item.Insurance != null)
                    {
                        <a asp-controller="Insurances" asp-action="Details" asp-route-id="@item.Insurance.InsuranceID">
                            @Html.DisplayFor(modelItem => item.Insurance.Name)
                        </a>
                    }
                </td>
                <td>
                    @if (item.InsurancePackage != null)
                    {
                        <a asp-controller="InsurancePackages" asp-action="Details" asp-route-id="@item.InsurancePackage.InsurancePackageID">
                            @Html.DisplayFor(modelItem => item.InsurancePackage.Name)
                        </a>
                    }
                </td>
                <td>
                    <a asp-controller="Clients" asp-action="Details" asp-route-id="@item.Client.PersonID">
                        @{
                            string clientFullName = item.Client.Name + " " + item.Client.Surname;
                        }
                        @Html.DisplayFor(modelItem => clientFullName)
                    </a>
                </td>
                <td>
                    @*<!--@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        <a asp-action="Details" asp-route-id="@item.InsuranceAgreementID">Details</a> |

                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        -->
                    *@
                </td>


            </tr>
        }
    </tbody>
</table>
