@model IEnumerable<MASFinalWebApp.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceAgreement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceAgreement.InsuranceAgreementID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
